# MacOS config files
**/.DS_Store

# Config files
.prettierrc
.gitignore
.git

# Files that shouldn't be packaged
test
playground.ts
playground.js
DEVELOPING.md
commands.sh
script/numerals.svg
script/preview.js
script/preview.tsx
script/README.md
script/reference.svg
