# MacOS config files
**/.DS_Store

# Config files
.prettierrc
.gitignore
.git

# Files that shouldn't be packaged
playground
test
playground.ts
playground.js
DEVELOPING.md
commands.sh

# Files that aren't ready yet
gloss
script/numerals
